.analyze-container {
    padding-top: 80px; /* Match the height of the header */
    text-align: center;
    display: flex;
    height: calc(100vh - 80px); 
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fafafa;
    overflow-x: hidden;     /* Prevent horizontal overflow */
}

.dataset-display {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-left: 220px;
    margin-bottom: 20px;
    height: 400px;
    overflow: auto; /* Don't scroll the container itself */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.analysis-view {
  margin-top: 20px;
  margin-left: 220px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

